﻿@model PetDataRead.Models.CatName

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4><strong>Cat Names</strong></h4>
   
    <h5><strong>Male</strong></h5>
        @foreach (var element in Model.OrderedMaleOwnerCatName)
         {
            <ul class="bulletlist"><li>@Html.DisplayFor(m => element)</li></ul>
         }
     <h6><strong>Female</strong></h6>
        @foreach (var element in Model.OrderedFemaleOwnerCatName)
         {
            <ul class="bulletlist"><li>@Html.DisplayFor(m => element)</li></ul>
         }

    
</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
