﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nilanka Ipitawala<br />
    1/20 Carcoola Road Ringwood East 3135<br />
    <abbr title="Phone">P:0450433440</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lakmal.nilaka@gmail.com">lakmal.nilaka@gmail.com</a>   
</address>