﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
</div>

@if(!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="errorcs">@ViewBag.Error</div>
}
<div class="row">
    <p>
        @using (Html.BeginForm("ReadPetData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {           
            <input type="submit" name="Submit" id="Submit" value="Read Pet Data" />    
        }
    </p>

</div>